.console_icon {
  color: blue;
  position: absolute;
  margin-top: 1px;
  margin-left: 3px;
}

.console-label {
  border: 1px solid #e0e0e0;
  margin: 0;
  display: block;
  color: #505050;
  background: #f6f6f6;
  padding-left: 10px;
}
