.console {
  border: 1px solid #E0E0E0;
  border-top: 1px solid #000;
  display: flex;
  width: 100%;
  padding-left: 15px;
}

.console_icon {
  color: blue;
  position: absolute;
  margin-top: 1px;
  margin-left: 3px;
}
