.container {
  display: grid;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  grid-column-gap: 15px;
  padding: 0 15px;
}

.container_mobile-no-padding {
  padding: 0;
}

@media (min-width: 768px) {
  .container_mobile-no-padding {
    padding: 0 15px;
  }
}
