body {
  margin: 0;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60vh solid transparent;
  border-bottom: 60vh solid transparent;
  border-left: 60vh solid #FFC500;
  position: fixed;
}
