body {
  margin: 0;
}

.text-centralize {
  text-align: center;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60vh solid transparent;
  border-bottom: 60vh solid transparent;
  border-left: 60vh solid #FFC500;
  position: fixed;
  z-index: -1;
}

.home-grid {
  grid-template-areas:
    "exam"
    "train";
  justify-items: center;
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding: 45vh 0 0;
  align-items: center;
}

@media (min-width: 576px) {
  .home-grid {
    grid-row-gap: 15px;
  }
}
