.btn_cursor {
  cursor: pointer;
}

.btn_cursor:disabled {
  cursor: not-allowed;
}

@media (max-width: 576px) {
  .btn_start {
    cursor: pointer;
    width: 100%;
    padding: 40px 0;
    border-radius: 0;
  }
}

.btn_start:disabled {
  cursor: not-allowed;
}

.btn_centre {
  display: flex;
  justify-content: center;
}
