.navbar_no-padding {
  padding-left: 0;
  padding-right: 0;
}

pre.language_custom {
  margin-top: 0;
  padding-top: 1.5em;
}

@media (max-width : 575px) {
  pre.language_custom {
    padding-left: 0;
    padding-right: 0;
  }

  .bg-solarized {
    background-color: #fdf6e3;
  }

  .container_no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

pre {
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  border: 0;
}

.editor {
  margin: 0 0;
}

.editor-colors {
  background-color: #002b36;
  color: #839496;
}
