doctype html
html(lang='en')
  head
    title JavaScript Exercises
    script(src='main.min.js', async)
    link(rel='stylesheet', href='main.min.css')
  body
    #mydiv
    input.console-input(type='text', autofocus)
    button(type='button', onclick='alert("Not working")') Go to quiz
