extends layout.pug

block stylesheets
  link(rel='stylesheet', href='bootstrap.min.css')
  link(rel='stylesheet', href='prism.css')
  link(rel='stylesheet', href='prism-solarizedlight.css')
  link(rel='stylesheet', href='main.min.css')

block scripts
  script(src='exercises.js' async)
  script(src='bundle.js' async)
