doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JavaScript Quiz
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content="#343a40")
    link(rel='manifest' href='manifest.json')
    block stylesheets
      link(rel='stylesheet', href='bootstrap.css')
      link(rel='stylesheet', href='main.css')
  body
    noscript You need to enable JavaScript to run this app.
    #root
    block scripts
      script(src='app.js' async)
