doctype html
html(lang='en')
  head
    title JavaScript Exercises
    block scripts
      script(src='exercises.js')
      script(src='showRandomQuiz.js')
      link(rel='stylesheet', href='main.css')
  body
    pre
      code#code
    input.console-input(type='text', autofocus)
    button(type='button', onclick='showRandomQuiz()') Go to quiz
