doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JavaScript Quiz
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='manifest' href='manifest.json')
    block stylesheets
      link(rel='stylesheet', href='bootstrap.css')
      link(rel='stylesheet', href='prism.css')
      link(rel='stylesheet', href='prism-solarizedlight.css')
      link(rel='stylesheet', href='main.css')
  body
    header
      nav.navbar.navbar-dark.bg-dark
        .container
          .row
            .col-12
              a.navbar-brand(href='#')
                | JavaScript Quiz
    main.container
      .row
        .col-12
          pre
            code#code.language-javascript
          form
            .form-group
              label(for='console-output') Web Console Output:
              textarea#console-output.form-control.console-output(rows='1', autofocus)
          button#answer.btn.btn-info.btn_cursor(type='button') Answer
          button#next-quiz.btn.btn-info.btn_cursor(type='button') Next quiz
    block scripts
      script(src='bundle.js' async)
