doctype html
html(lang='en')
  head
    title JavaScript Exercises
    block scripts
      script(src='main.js', async)
      link(rel='stylesheet', href='main.css')
  body
    #mydiv
    input.console-input(type='text', autofocus)
    button(type='button', onclick='alert("Not working")') Go to quiz
