doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JavaScript Quiz
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='manifest' href='manifest.json')
    block stylesheets
      link(rel='stylesheet', href='bootstrap.css')
      link(rel='stylesheet', href='main.css')
  body
    header.bg-dark
      .container
        nav.navbar.navbar-dark.navbar_no-padding
          a.navbar-brand(href='#') JavaScript Quiz
      .progress(style='height: 5px')
        #progress-success.progress-bar.bg-success(style='width: 0%')
        #progress-failure.progress-bar.bg-danger(style='width: 0%')
    main.container
      .row#first-screen
        button#exam.mx-auto.btn.btn-lg.btn-info.btn_start(type='button') Exam
        button#train.mx-auto.btn.btn-lg.btn-info.btn_start(type='button') Train
      .row#quiz-screen.d-none
        .col-12.bg-solarized
          pre.language_custom
            code#code.language-javascript
        .col-12
          form
            .form-group
              label(for='console-output') Web Console Output:
              textarea#console-output.form-control.console-output(rows='1', autofocus)
            .btn-group
              button#answer.btn.btn-info.btn_cursor(type='button') Answer
              button#next-quiz.btn.btn-light.btn_cursor(type='button') Next quiz
    block scripts
      script(src='bundle.js' async)
