@import (less) "../node_modules/prismjs/themes/prism.css";
@import (less) "../node_modules/prismjs/themes/prism-solarizedlight.css";

@import "prism-solarized-light-extention.less";

//@import "grid";
//@import "buttons";
@import "input";
//@import "header";

body {
  margin: 0;
}

pre {
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  border: 0;
}

.editor {
  margin: 0 0;
}

.editor-colors {
  background-color: #002b36;
  color: #839496;
}

.btn_cursor {
  cursor: pointer;
}
